<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd">
 
   
  <!-- Other bean definitions-->
  <bean id="vehicle_1" 
  		class="com.spring.spring_getting_started_2.Car">
  </bean>
  
  <bean id="vehicle_2" 
  		class="com.spring.spring_getting_started_3.Car">
  		<constructor-arg ref="vehicleService" />
  </bean>
  
  <bean id="vehicleService"
  		class="com.spring.spring_getting_started_3.VehicleServicing">
  </bean>
  
  
  
  <bean id="vehicle_3" 
  		class="com.spring.spring_getting_started_4.Bus">
  		<!-- constructor-arg ref="vehicleService3" /-->
  		<property name="vehicleServicing" ref="vehicleService3" />
  </bean>
   
   <bean id="vehicleService3"
  		class="com.spring.spring_getting_started_4.VehicleServicing">
  </bean>
   
   
</beans>